*{
    margin:0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
.navbar{
    background-color: rgb(57, 207, 112);
    color: black;
    padding: 10px;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book-container h2{
    color:rgb(57, 207, 112);
}
.book-container button{
    background-color: rgb(57, 207, 112);
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
}
.add-button{
    background-color: rgb(57, 207, 112);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: none;
    font-size:larger;
}
.popup-overlay{
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;

}
.popup-box{
    background-color: rgb(57, 207, 112);
    width: 40%;
    padding: 40px;
    z-index: 2;
    position:absolute;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    display: none;
}
.popup-box input{
    background-color: transparent;
    padding: 5px;
    border: none;
    margin: 5px;
    width: 100%;
    font-size: 20px;
    border-bottom: solid black 2px;
    
}
.popup-box textarea{
    background-color:rgb(57, 207, 112);
    border-radius: 5px;
    border: solid black 2px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;

}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;

}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}
  
  